body {
	background-image: url(background-us-close.jpg);
	background-size: cover;
}

#site-content {
  display: block;
  margin: 0 auto;
  width: 800px;
  background-color: rgba(20, 20, 20, .5);
  background-image: repeating-linear-gradient(-45deg, black, black .1px, transparent 1px, transparent 5px);
}

.bio-pic {
  display: block;
  margin: 0 auto;
}

.bio-content {
  display: block;
  margin: 0 auto;
}

.bio-section {
  display: block;
  margin: 0 auto;
  width: 300px;
  color: white;
}

.bio-section h1 {
	text-align: center;
}
