#site-content {
  display: block;
  margin: 0 auto;
}

.bio-pic {
  display: block;
  margin: 0 auto;
}

.bio-content {
  display: block;
  margin: 0 auto;
}

.bio-section {
  display: block;
  margin: 0 auto;
}
  
